<div class="card">
  <img
    class="gravatar"
    src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=100"
  />
  <p class="card-text">{{ post.id }}<br />{{ post.user.name }}</p>
  <!--  <p class="card-text">{{ post.user.emailAddress }}</p>-->
  <p class="card-text">{{ post.user.email }}</p>
  <h3 class="card-title">{{ post.title }}</h3>
  <p class="card-text">{{ post.body }}</p>
</div>
