.card{
    background-color: #52cece;
   padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid #df0a0a;
    position: relative;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-shadow: 4px 10px #a89292;
    font-family: san-serif;
}
.gravatar{
  padding-right: 1rem;
  padding-left: 1rem;
  border: 1px solid #df0a0a;
  position: relative;
  border-radius: 4px;
  margin-bottom: 1rem;
}
